<% if user_logged_in? %>
  <div class="relative ml-3" data-controller="dropdown">
    <div>
      <button type="button" class="flex items-center max-w-xs text-sm rounded-full bg-neutral-800 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-neutral-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true"
        data-action="dropdown#toggle click@window->dropdown#hide"
      >
        <span class="sr-only">Open user menu</span>
        <%= image_tag current_user.avatar_url, class: 'h-8 w-8 rounded-full', alt: "Avatar for #{current_user.name}" %>
      </button>
    </div>

    <div class="absolute right-0 z-10 hidden w-48 py-1 mt-2 transition origin-top-right transform bg-white rounded-md shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1"
      data-dropdown-target="menu"
      data-transition-enter-from="opacity-0 scale-95"
      data-transition-enter-to="opacity-100 scale-100"
      data-transition-leave-from="opacity-100 scale-100"
      data-transition-leave-to="opacity-0 scale-95"
    >
      <%= button_to 'Log out', destroy_user_session_path, class: 'block px-4 py-2 text-sm text-neutral-700', method: :delete, role: 'menuitem', tabindex: '-1', data: { turbo: false } %>
    </div>
  </div>
<% else %>
  <div class="relative ml-3">
    <%= button_to user_eve_omniauth_authorize_path, data: { turbo: false } do %>
      <%= image_tag('eve-sso-login-black-small.png') %>
    <% end %>
  </div>
<% end %>
